body{
    background-image: url("./IMG_9072.jpg");
    background-repeat: no-repeat;
    background-size: cover;    

}
  /* ::placeholder {
    font-weight: 900;
    color: white;
  }
  ::-ms-input-placeholder { /* Edge 12-18 
    color: white;
  } */
 

    input::placeholder {
        color:black;
        opacity: 100%;
        /* Firefox */
      }